.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* li effect */

.li-custom>ul>li {
  margin-left: 10px;
  margin-right: 10px;
}

a,
a:link,
a:visited {
  color: black;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  /* The distance between text and underline */
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #0078d4, #0078d4);
  /* underline color */
  background-size: 0 2px;
  /* vertical size of underline */
  background-repeat: no-repeat;
  background-position: left bottom;
  /* start position of underline */
  transition: background-size .3s ease-in;
  /* duration and timing style of animation */
}

a:hover::before {
  background-size: 100% 2px;
}

.is-active {
  color: #0078d2 !important
}

.center-div {
  width: 300px;
  text-align: start;
  margin: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}